@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .presentation {
    margin: 50px 0;
    background: url('./img/bg.jpeg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

header .presentation::after {
    content: 'Лучшие товары для вашего дома';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

header .presentation::before {
    content: 'по низким ценам';
    position: absolute;
    top: 250px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.features span {
    color: #F64F73;
    font-weight: 600;
}

.features h2 {
    width: 350px;
    font-size: 30px;
    margin: 15px 0;
}

.features .blocks {
    display: flex;
    justify-content: space-between;
}

.features .blocks>div {
    text-align: center;
    width: 250px;
}

.features .blocks>div img {
    width: 150px;
}

.features .blocks>div h3 {
    margin: 10px 0;
    color: #F64F73;
}

.features .blocks>div p {
    font-size: 14px;
    color: #989898;
}

footer {
    text-align: center;
    margin-top: 100px;
}